.Accordion {
  background-color: white;
  border: 1px solid brand-color(gray, x-light);

  @include stack(s);

  &.open {
    border: 1px solid brand-color(gray, dark);
    transition: all .5s ease-in-out;
  }

  &__header {
    @include equal-spacing(m);
    align-items: center;
    cursor: pointer;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin: 0;
    outline: none;

    &-price {
      align-items: flex-end;
      color: brand-color(gray, base);
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-start;
    }

    &-price-details {
      @include font-scale(s);
    }

    &-price-num {
      color: brand-color(gray, x-dark);
      font-size: 24px;
    }

    &-price-num:before {
      @include font-scale(m);

      color: brand-color(gray, base);
      content: '$';
      vertical-align: 40%;
    }

    &-price-num .price-input {
      border: 0;
      font-family: $body-font-family;
      font-size: 24px;
      line-height: 30px;
      color: brand-color(gray, dark);
      width: 50px;
      cursor: text;
      text-align: right;
      border-bottom: 1px dotted brand-color(gray, light);

      @include stack(xs);
    }

    &-price-num .price-input:active,
    &-price-num .price-input:focus,
    &-price-num .price-input:hover {
      outline: none;
    }

    &-price-num .price-input:focus,
    &-price-num .price-input:hover {
      color: brand-color(primary, base);
      border-bottom: 1px solid brand-color(primary, base);
      transition: background-color .3s ease-in-out;
    }

    &-price-num .price-input::-webkit-inner-spin-button,
    &-price-num .price-input::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    .Accordion.open & {

      .toggle-arrow-icon { display: none; }
    }
  }

  &__title-wrapper {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;

    .current {
      @include font-scale(s);
      text-transform: uppercase;
      color: brand-color(gray, light);
    }
  }

  &__title {
    @include font-scale(s);

    border: 1px solid brand-color(gray, light);
    background-color: brand-color(gray, light);
    color: white;
    border-radius: 5px;
    padding: 5px 10px;
    text-transform: uppercase;
    margin-right: spacing(s);

    &.outlined {
      color: brand-color(gray, dark);
      background-color: white;
    }

    .Accordion.open & {
      background-color: brand-color(primary, base);
      border: 1px solid brand-color(primary, base);
      color: white;
    }
  }

  &__content-subheader {
    height: 0;
    overflow: hidden;

    .Accordion.open & {
      @include offset-spacing(s, m);

      @include font-scale(s);
      background-color: brand-color(primary, dark);
      color: white;
      height: auto;
      text-transform: uppercase;
    }
  }

  &__content {
    overflow: hidden;
    height: 0;

    .Accordion.open & {
      @include equal-spacing(m);
      height: auto;
      overflow: visible;
    }
  }

  &__animate {

    &-enter { opacity: 0; }

    &-enter.Accordion__animate-enter-active {
      opacity: 1;
      transition: all .2s ease-in;
    }

    &-leave { opacity: 1; }

    &-leave.Accordion__animate-leave-active {
      opacity: 0;
      transition: all .2s ease-out;
    }
  }
}

.Accordion.open .Accordion__content.full-width {
  padding: 0;

  .ProductAddons-service {
    @include offset-spacing(s, m);

    &:last-child {
      border-bottom: 0;
    }
  }
}
