.status-badge {
  min-width: 100px;

  &.is-disabled {
    cursor: not-allowed;
    opacity: 0.5;

    .dropdown-menu-trigger {
      pointer-events: none;
    }
  }

  .activated {
    @include row-status('active', brand-color(alert, success), brand-color(alert, success), brand-color(muted, base), 'true');
  }

  .deactivated {
    @include row-status('deactivated', brand-color(alert, danger), brand-color(alert, danger), brand-color(muted, base), 'true');
  }

  .activated,
  .deactivated {
    cursor: pointer;
  }

  .pending {
    cursor: not-allowed;


    @include row-status('pending', brand-color(muted, base), brand-color(alert, warning), brand-color(alert, warning), 'false');
    padding-left: 5px;
  }

  .select-menu-options {
    background: white;
    border: 1px solid brand-color(gray, x-light);
    box-shadow: 0 7px 8px 0 rgba(170, 174, 188, 0.42);
    list-style-type: none;
    margin: 0;
    padding-left: 0;
    position: absolute;
    right: 0;
    top: 250%;
    width: 145px;
    // @desc this item should appear above most content on the page
    z-index: 15;

    &:before {
      background-color: white;
      border-right: 1px solid brand-color(gray, x-light);
      border-top: 1px solid brand-color(gray, x-light);
      bottom: calc(100% - 5px);
      content: '';
      height: 11px;
      position: absolute;
      right: 13px;
      transform: rotate(-45deg);
      width: 11px;
      z-index: -1;
    }
  }

  .dropdown-menu-trigger:focus {
    outline: none;
  }

  .select-menu-option {
    display: flex;
    flex-direction: row;
    font-weight: 600;
    justify-content: space-between;
    letter-spacing: 0.4px;

    span {
      color: brand-color(gray, x-dark);
      line-height: 15px;
    }

    .is-activated {
      color: brand-color(alert, success);
    }

    .is-deactivated {
      color: brand-color(alert, danger);
    }
  }

  // stylelint-disable selector-max-compound-selectors
  .radio-container {
    border: 1px solid brand-color(gray, x-dark);
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

    &:hover input ~ .radio {
      cursor: pointer;
    }
  }

  .radio-container input {
    opacity: 0;
    position: absolute;
    z-index: -1;

    &:checked ~ .radio[aria-checked='true'] {
      background-color: white;
    }
  }

  .radio-activated input {

    &:checked ~ .radio[aria-checked='true'] {
      border: 4px solid brand-color(alert, success);
    }
  }

  .radio-deactivated input {

    &:checked ~ .radio[aria-checked='true'] {
      border: 4px solid brand-color(alert, danger);
    }
  }
  /* stylelint-enable selector-max-compound-selectors */

  .radio {
    border-radius: 50%;
    box-sizing: border-box;
    height: 13px;
    width: 13px;

    &:after {
      background-color: white;
      border-radius: 50%;
      height: 6px;
      left: 7px;
      width: 6px;
      top: 7px;
    }
  }
}
