.gd-row-actions {

  .option-box-popup {
    position: relative;

    .dropdown-menu-trigger {
      @include offset-spacing(xs, s);

      @include font-scale(s);

      padding-right: spacing(l);
    }

    .option-box-content {
      align-items: flex-start;
      border: 1px solid brand-color(gray);
      display: flex;
      flex-direction: column;
      right: 0; // usually at the end of a row, so make it start on right and go left
      top: calc(
        100% + #{spacing(s)}
      ); // TODO: double-check spacing in app, may need: calc(100% + #{spacing(s)})
      white-space: nowrap;
    }
  }
}

.disabled {
  opacity: .5;
  pointer-events: none;
}
