.global-selector-flag {
  color: brand-color(gray, light);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  user-select: none;

  &.disabled {
    cursor: not-allowed;
  }
}

.global-selector-flag-label {
  @include font-spacing(10px, 0, normal);

  text-transform: uppercase;
}

.global-selector-flag-value {
  @include font-spacing(16px, 0.4, normal);
}
