.paginator {
  font-weight: 700;
  text-align: right;

  &__prev {
    margin-right: spacing(m);
  }

  &__next {
    margin-left: spacing(m);
  }

  &__input.field-input {
    @include equal-spacing(s);

    margin-left: spacing(s);
    margin-right: spacing(s);
    text-align: center;
    width: 3em;

    &.error {
      border: 1px solid brand-color(alert, danger);
    }
  }

  &--error {
    color: brand-color(alert, danger);
  }
}
