.options-box-popup-wrapper {
  min-width: 800px;
}

.option-box-popup {
  display: inline-block;
  overflow: visible;
  position: relative;

  .dropdown-menu-trigger {
    @extend %dropdown-menu-trigger;

    background-color: brand-color(muted);
    border: 1px solid brand-color(gray, light);

    span {
      color: brand-color(primary, base);
      position: relative;
    }

    span strong { // stylelint-disable-line
      font-weight: 400;
      color: brand-color(gray);
    }

    &:after {
      @extend %dropdown-menu-trigger-after;

      border-color: brand-color(gray, light) transparent transparent;
      right: auto;
      top: 48%;
    }

    &:hover,
    &:focus {
      @extend %dropdown-menu-trigger-hover;
    }

    &:hover:after,
    &:focus:after {
      border-color: brand-color(primary, base) transparent transparent;
    }

    &:active,
    &[aria-expanded='true'] {
      @extend %select-menu-active;

      &:after {
        border-bottom: 4px solid brand-color(gray, light);
        border-color: transparent transparent brand-color(primary, base);
        border-top: 0;
      }
    }

    &.is-disabled {
      pointer-events: none;
    }
  }

  .option-box-content {
    background-color: brand-color(muted);
    position: absolute;
    top: calc(100% + #{spacing(s)});
    // @desc this item should appear above most content on the page
    z-index: 15;
  }

  .option-box-content-footer {
    @include offset-spacing(m, l);

    background-color: brand-color(muted, light-blue);
    border: 1px solid brand-color(muted, dark-blue);
    border-top-width: 0;
    display: flex;
    flex: 100%;
    flex-direction: row;
    justify-content: flex-end;

    .button-link-inline {
      margin-right: spacing(s);
    }
  }

  &.inline-btn {
    background-color: transparent;
    border: 0;

    &:hover,
    &:hover:not(:disabled),
    &:hover:not(:disabled),
    &:focus:not(:disabled) {
      border: 0;
    }

    .dropdown-menu-trigger {
      background-color: transparent;
      border: 0;
      padding: 0;

      &:hover,
      &:hover:not(:disabled),
      &:hover:not(:disabled),
      &:focus:not(:disabled) {
        border: 0;
      }
    }

    .option-box-content {
      right: -(spacing(m));
      top: calc(100% + #{spacing(s)});
    }
  }
}
