.attachment-downloader {
  border: 1px solid brand-color(gray, x-dark);
  border-radius: 4px;
  color: brand-color(gray, x-dark);
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 260px;

  @include font-scale(s);

  @include stack(m);

  &__wrapper {
    margin-bottom: spacing(m);
    margin-top: spacing(m);
  }

  &__content {
    display: flex;
    flex-direction: column;

    &:focus {
      outline: none;
    }

    @include offset-spacing(s, m);
  }

  &__icon {
    align-items: center;
    background-color: brand-color(gray, base);
    background-image: url('./img/chain.svg');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: flex;
    flex: 0 1;

    @include offset-spacing(s, l);
  }

  .emphasis {
    font-weight: bold;

    &-title {
      text-transform: uppercase;
    }

    &-size,
    &-filename {
      @include stack(xs);
      margin-top: 0;
    }

    &-size {
      color: brand-color(gray, light);
    }

    &-filename {
      @include font-scale(xl);

      width: 140px;
      word-wrap: break-word;
    }
  }
}
