.gd-hierarchy-selector-search-manager {
  align-items: center;
  background-color: brand-color(muted);
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  min-height: 40px;

  .favorites-btn {
    min-width: 40px;
    min-height: 40px;
    border-left: 1px solid brand-color(muted, dark-blue);
    color: $gold;
  }

  .search-btn {
    min-width: 40px;
    min-height: 40px;
  }

  .search-field {
    width: 90%;
  }

  .search:after {
    content: '';
  }

  .search-selection-container {
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row nowrap;
    padding-right: spacing(m);

    .close-icon {
      width: 12px;
      margin-right: spacing(s);
      margin-top: spacing(xs);
    }
  }

  .hidden-title {
    font-weight: 500;
    line-height: 16px;
    color: brand-color(gray, x-dark);
    font-size: 14px;
  }

}