.reports-container {

  .card {
    border-left: 1px solid brand-color(gray, x-light);
    border-right: 1px solid brand-color(gray, x-light);
    border-top: 1px solid brand-color(gray, x-light);
    box-shadow: none;
    text-align: left;
  }

  .card-list {
    border-bottom: 1px solid brand-color(gray, x-light);

    @include stack(l);
  }

  .card-list .card-category {
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;

    @include stack(m);
  }

  &--header .section-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-flow: row nowrap;

    .search {
      margin-right: spacing(m);
      margin-bottom: 0;
    }
  }
}
