.widget-button {
  @include stack(m);

  background-color: transparent;
  border: 1px dashed brand-color(gray, border-color);
  color: brand-color(primary);
  height: 50px;
  width: 100%;

  &__icon-content {
    display: flex;
    justify-content: center;
  }

  &__icon-text {
    @include offset-spacing(none, s);
  }

  &__popup {
    background-color: #fff;
    border: 1px solid brand-color(muted, dark-blue);
    bottom: 65px;
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    left: calc(50% - 150px);
    position: absolute;
    width: 300px;
    z-index: 15;
  }

  &__popup:after {
    content: '';
    position: absolute;
    bottom: -9px;
    width: 16px;
    height: 16px;
    border-bottom: 1px solid brand-color(muted, dark-blue);
    border-right: 1px solid brand-color(muted, dark-blue);
    background: #fff;
    left: 50%;
    margin-left: -16px;
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  &__popup-wrapper {
    position: relative;
  }

  &__popup-header {
    background-color: brand-color(muted, light-blue);
    font-size: 14px;
    font-weight: 500;
    color: brand-color(gray, x-dark);

    @include offset-spacing(none, m);
    height: 40px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid brand-color(muted, dark-blue);
  }

  &__popup-content {
    @include equal-spacing(m);

    max-height: 220px;
    overflow-y: scroll;

    .column-widget {
      @include offset-spacing(xs, s);

      background-color: brand-color(muted, light-blue);
    }

    .column-widget__name {
      color: brand-color(gray, x-dark);
    }

    .column-widget__actions {
      padding-left: spacing(s);

      .plus-icon {
        color: brand-color(primary);
      }
    }
  }

  &__popup-content span {
    font-size: 12px;
    color: brand-color(gray, light);
    letter-spacing: 0.44px;
    line-height: 14px;
    font-weight: 700;
  }

  &__popup-row {
    height: 40px;
    border-bottom: 1px solid brand-color(muted, dark-blue);

    @include offset-spacing(none, m);
    display: flex;
    align-items: center;
  }

  &__popup-row .search {
    margin-bottom: 0;
    width: 100%;

    &:after {
      margin-right: 0;
      color: brand-color(gray, x-dark);
    }
  }

  &__popup-row .search-field {
    font-size: 12px;
    width: 90%;
    font-weight: 500;
    color: brand-color(gray, x-dark);
  }
}
