.global-filter-bar {
  align-items: center;
  background: brand-color(primary, x-dark);
  display: flex;
  flex-shrink: 0;
  height: $blue-bar-height;
  justify-content: flex-start;
  padding-left: spacing(m);
  width: 100%;
}

.main-content {
  display: none;
}

.mobile-message {
  display: block;
  margin: 100px auto;
  max-width: 300px;
  text-align: center;
  width: 80%;

  p {
    color: brand-color(primary, x-dark);
    display: block;
    font-size: 20px;
    font-weight: bold;
    line-height: 24px;
  }

  span {
    display: block;
    font-size: 12px;
  }
}

#mobile-svg path,
#mobile-svg g {
  fill: brand-color(primary, x-dark);
}

@include breakpoint(ml, min-width) {

  .mobile-message {
    display: none;
  }

  .main-content {
    display: block;
  }
}
