%dropdown-menu {
  display: inline-block;
  position: relative;

  @include font-spacing(1em, 0.4px, normal);
}

%dropdown-menu-trigger {
  @extend %page-actions;

  @include offset-spacing(s, m);
  cursor: pointer;
  display: inline-block;
  padding-right: spacing(xl);
  user-select: none;

  span {
    letter-spacing: 0.4px;
  }

  &:active,
  &[aria-expanded='true'] {
    border-color: brand-color(primary, x-dark);
  }
}

%dropdown-menu-trigger-after {
  border-style: solid;
  border-width: 6px 5px;
  content: '';
  display: inline-block;
  margin-left: 7px;
  position: absolute;
  top: 45%;
  transition: all 0.3s;
}

%dropdown-menu-trigger-hover {

  &:not(.is-disabled) {
    border-color: brand-color(primary, base);
    outline: none;
  }
}

%dropdown-menu-trigger-hover-after {
  border-bottom: 0;
  border-color: brand-color(primary, base) transparent transparent;
  border-top: 6px solid brand-color(primary, base);
}

%select-menu-active {
  border-color: brand-color(primary, x-dark);
}

%select-menu-options {
  background: white;
  border: 1px solid rgba(200, 200, 200, 0.4);
  box-shadow: 0 7px 8px 0 rgba(170, 174, 188, 0.42);
  list-style-type: none;
  margin: 0;
  padding-left: 0;
  position: absolute;
  top: 100%;
  min-width: 270px;
  // @desc this item should appear above most content on the page
  z-index: 15;
}
