.dropdown-menu-trigger {
  @extend %dropdown-menu-trigger;
  background-color: brand-color(muted);
  border: 1px solid brand-color(gray, x-light);
  position: relative;
  width: 215px;

  span > strong {
    color: brand-color(gray, x-dark);
  }

  &:after {
    @extend %dropdown-menu-trigger-after;

    border-color: brand-color(gray, base) transparent transparent;
    // right: auto;
  }

  &:hover:not(.is-disabled),
  &:focus:not(.is-disabled) {
    @extend %dropdown-menu-trigger-hover;

    &:after {
      @extend %dropdown-menu-trigger-hover-after;
    }
  }

  &:active,
  &[aria-expanded='true'] {
    background-color: brand-color(primary, x-dark);
    color: brand-color(muted);

    span,
    strong {
      color: brand-color(muted);
    }

    &:after,
    &:hover:after,
    &:focus:after {
      border-bottom: 6px solid brand-color(gray, light);
      border-color: transparent transparent brand-color(muted);
      border-top: 0;
    }
  }
}

.select-menu-options {
  @extend %select-menu-options;
  border: 1px solid rgba(200, 200, 200, 0.4);
  left: 0;
}
