.page-wrapper {
  display: flex;
  flex-flow: wrap;
  height: 100%;
  position: relative;
  width: 100vw;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  overflow: hidden;
  position: absolute;
  width: 100%;
  z-index: 0;
}

.center-section {
  background-color: brand-color(muted, light-blue);
  display: flex;
  flex: 1;
  flex-direction: column;
  height: calc(100vh - #{$site-header-height});
  overflow: hidden;
  position: relative;

  &.with-overlay {
    z-index: -1;
  }
}

.global-actions {
  align-items: center;
  background-color: brand-color(muted);
  display: flex;
  justify-content: space-between;

  &:focus {
    outline: none;
  }
}

.contextual-actions {
  @include offset-spacing(m, l);

  @include stack(s);
}

.padded {
  @include offset-spacing(m, l);

  @include stack(xl);
}

.padded-tall {
  @include equal-spacing(l);
}

.left-right-content {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.left-right-content-stacked {
  @include stack(l);

  align-items: center;
  display: flex;
  justify-content: space-between;
}

.main-content {
  @include stack(s);

  height: 100%;
  margin-bottom: 0;
  // @deprecated, the following z-index value was added
  //   for an earlier responsive design
  // z-index: 10;

  overflow-x: hidden;
  overflow-y: auto;
}

.main-footer {
  @include offset-spacing(m, l);
}

.flex-between {
  align-items: center;
  display: flex;
  justify-content: space-between;

  .flex-left,
  .flex-right {
    align-items: center;
    display: flex;
    padding: 5px;
  }

  .flex-left {
    justify-content: flex-start;
    padding-left: 0;
  }

  .flex-right {
    justify-content: flex-end;
    padding-right: 0;
  }

  button {
    max-height: 3.5em;
  }
}

.flex-left,
.flex-right {
  align-items: center;
  display: flex;
}

.flex-left {
  justify-content: flex-start;
}

.flex-right {
  justify-content: flex-end;
}

.currency-selector .selection-list {
  max-height: 250px;
  overflow: scroll;
}

.main-content--header {
  align-items: center;
  background: brand-color(muted, base);
  border-bottom: 1px solid brand-color(gray, border);
  height: 70px;
  display: flex;
  justify-content: space-between;

  @include offset-spacing(none, l);
}

.main-content--header h1 {
  margin-bottom: 0;
}

@include breakpoint(l, max-width) {

  .show-l {
    display: inline;
  }

  .hidden-l {
    display: none;
  }

  .center-section {
    flex: auto;
  }
}

@include breakpoint(m, max-width) {

  .show-m {
    display: inline;
  }

  .hidden-m {
    display: none;
  }

  .center-section .button {
    @include offset-spacing(s, m);
  }

  .center-section .go-back-button .button-link {
    padding-left: 0;
  }
}

@include breakpoint(s, max-width) {

  .hidden-s {
    display: none;
  }

  h1 {
    font-size: 16px;
  }

  .padded {
    @include equal-spacing(m);
  }
}

@include breakpoint(xs, max-width) {

  .hidden-xs {
    display: none;
  }
}

@include breakpoint(xs) {

  .show-xs {
    display: none;
  }
}

@include breakpoint(s) {

  .show-s {
    display: none;
  }
}

@include breakpoint(l) {

  .show-l {
    display: none;
  }
}
