.badge {
  @include badge-layout(brand-color(gray, xx-light), brand-color(gray, xx-light), brand-color(gray, base));

  border-radius: 150px;
  display: inline-flex;
  width: auto;
  text-align: center;
  text-transform: none;
  font-weight: normal;

  &-square {
    min-width: 45px;
  }

  &-reversed {
    @include badge-layout(transparent, white, white);
  }

  // CAPITALIZED version required to match dynamic class added by Looker data
  &-settled,
  &-Settled {
    @include badge-layout(brand-color(alert, success), brand-color(alert, success), brand-color(muted, base));

    text-transform: none;
  }

  // CAPITALIZED version required to match dynamic class added by Looker data
  &-inactive,
  &-Inactive {
    @include offset-spacing(xs, s);

    border-radius: 150px;
    display: block;
    font-size: 0.8571428571em;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    text-transform: none;
    width: 100px;
  }

  // CAPITALIZED version required to match dynamic class added by Looker data
  &-active,
  &-Active {
    @include badge-layout(brand-color(alert, success), brand-color(alert, success), brand-color(muted, base));
    @include offset-spacing(xs, s);

    border-radius: 150px;
    display: block;
    font-size: 0.8571428571em;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    text-transform: none;
    width: 100px;
  }

  &-info {
    border-radius: spacing(xs);
    color: #fff;
    font-weight: 900;
    font-size: 10px;
    line-height: 9px;
    min-width: auto;
    text-transform: uppercase;

    @include offset-spacing(xs, s);
  }

  &-hierarchy-selector {
    background-color: brand-color(alert, success);
    border-radius: spacing(xs);
    color: #fff;
    font-weight: 900;
    font-size: 10px;
    line-height: 9px;
    text-transform: uppercase;
    width: auto;
    word-wrap: none;

    @include offset-spacing(xs, s);

    .number-selected {
      margin-right: spacing(xs);
    }
  }

  &-success {
    background-color: brand-color(alert, success);
    border-color: brand-color(alert, success);
  }

  &-warning {
    background-color: brand-color(alert, warning);
    border-color: brand-color(alert, warning);
  }
}
