%field-states {
  border: 1px solid brand-color(gray, x-light);
  border-radius: $field-border-radius;

  &:hover,
  &:focus {
    border-color: brand-color(primary, base);
  }

  .field-danger & {
    border-color: brand-color(alert, danger);
  }

  .field-warning & {
    border-color: brand-color(alert, warning);
  }

  .field-success & {
    border-color: brand-color(alert, success);
  }
}

.field-input {
  @include font-scale(m);

  @include offset-spacing(s,m);

  @extend %field-states;

  font-family: $body-font-family;
  font-weight: 700;
  height: $field-height;
  letter-spacing: 1px;
  line-height: $field-height;

  &::placeholder {
    @extend %placeholder;
  }
}
