.gd-report-builder__panel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 0;
  padding: 0;
  width: 100%;

  &.double-width {
    flex: 2 0 66%;
  }

  &.double-width:last-of-type {
    border-left: 0;
  }
}
