.summary-box__heading {
  @include equal-spacing(m);

  align-items: center;
  border-bottom: 1px solid brand-color(gray, x-light);
  display: flex;
  justify-content: flex-start;

  > * {
    margin-right: spacing(m);
  }

  .summary-box__icon {
    color: brand-color(primary);
  }

  h2 {
    color: brand-color(gray, x-dark);
    flex: 1;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
    margin-bottom: 0;
  }
}
