.field.credit-card-input.field {
  display: inline;

  .field-label {
    @include stack(s);
    display: inline-block;

    .dropdown-menu-trigger {
      @include offset-spacing(m, s);
    }
  }

  .field-input {
    @include stack(s);
    width: 100%;
  }

  .multiple-inputs {
    display: flex;
    flex-direction: row;

    .field-input {
      flex: 1;
    }

    .field-input:first-of-type {
      margin-right: spacing(s);
    }
  }
}

.credit-card-input-content {
  display: inline;
}

.credit-card-input-wrapper {
  display: inline;

  .select-menu__input {
    @include font-scale(s);
  }
}
