// White background, gray border.
// When hovered, blue text, blue icon and blue border.
%page-actions {
  background-color: brand-color(muted, base);
  border: 1px solid brand-color(muted, dark-blue);
  color: brand-color(primary, base);

  &:hover:not(:disabled),
  &:focus:not(:disabled) {
    border: 1px solid brand-color(primary, base);
  }

  &:disabled {
    color: brand-color(gray, base);
  }
}
