.gd-table__records-count {
  animation: recordCountFadeIn ease-in 1 forwards;
  animation-delay: 1s;
  animation-duration: 0.5s;
  color: brand-color(gray, light);
  opacity: 0;
  padding: spacing(m) 0;

  &-value {
    color: brand-color(gray, x-dark);
  }
}

@keyframes recordCountFadeIn {

  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
