.file-export {
  background-color: white;
  box-shadow: 4px 6px 20px 2px rgba(0, 0, 0, 0.2), inset 0 -1px 0 0 brand-color(gray, xx-light);
  letter-spacing: 0.4px;
  // margin-top: spacing(m);
  // position: absolute;
  // right: 0;
  // top: 35px;
  width: 400px;
  z-index: 1;

  &-wrapper {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    position: relative;

    .option-box-content {
      right: 0;
      top: calc(100% + 10px);
    }
  }

  &-header {
    background-color: brand-color(primary, x-dark);
    color: white;
    display: block;

    @include offset-spacing(s, m);

    @include font-scale(m);
  }

  &-content {
    border: 1px solid brand-color(gray, x-light);
  }

  &-row {
    list-style-type: none;
    margin: 0;

    @include equal-spacing(xs);

    @include font-scale(s);
  }

  .danger-text {
    display: inline-block;
    padding: 0 8px 12px;
  }

  &-row:last-of-type {
    @include stack(s);

    @include offset-spacing(xs, s);
  }

  &-row-title {
    color: brand-color(gray, x-dark);

    @include equal-spacing(xs);
  }

  &-row-items {
    display: flex;
    justify-content: space-between;
    padding: 0;
    width: 100%;
  }

  &-row-item {
    cursor: pointer;
    display: flex;
    flex: 1;
    overflow: hidden;
    padding-left: 0;

    &:not(.field) {
      background-color: brand-color(muted, light-blue);
      border: 1px solid brand-color(gray, light);
      margin: spacing(xs);
    }

    &.selected {
      background-color: brand-color(muted);
      border: 1px solid brand-color(alert, success);
    }

    .field-input {
      height: $field-height-compact;
      width: 100%;
    }

    span {
      width: 100%;
    }
  }

  @-moz-document url-prefix() {

    &-button {
      @include font-scale(s);
    }
  }

  @media all and (-ms-high-contrast:none) {

    &-button {
      @include font-scale(s);
    }
  }

  &-button {
    @include equal-spacing(s);

    appearance: none;
    background: none;
    border: 0;
    color: brand-color(gray, light);
    cursor: pointer;
    font-family: $body-font-family;
    font-weight: 500;
    text-align: left;
    width: 100%;

    &:focus {
      outline: none;
    }

    &.selected {
      color: brand-color(gray, x-dark);
    }

    &.selected::before {
      background-color: brand-color(alert, success);
      border-radius: spacing(s);
      color: white;
      content: '\2713';
      margin-right: spacing(s);
      padding: 1px spacing(xs);
    }
  }

  &-footer {
    @include equal-spacing(s);

    background-color: brand-color(muted, light-blue);
    border-top: 1px solid brand-color(gray, light);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}
