.column-manager {
  background-color: white;
  border: 1px solid brand-color(gray, light);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: absolute;
  right: 15px;
  top: 50px;
  width: 580px;
  z-index: 1;

  &:before {
    background-color: white;
    border-right: 1px solid brand-color(gray, light);
    border-top: 1px solid brand-color(gray, light);
    bottom: calc(100% - 4px);
    content: '';
    height: 10px;
    position: absolute;
    right: 25px;
    transform: rotate(-45deg);
    width: 10px;
    z-index: 1;
  }

  &-wrapper {
    max-height: 275px;
    position: relative;

    @include equal-spacing(m);
  }

  &-prompt {
    color: brand-color(gray, x-dark);
    cursor: pointer;

    &:focus {
      outline: none;
    }

    @include font-spacing(12px, 0.4px, bold);

    @include arrow(false, brand-color(gray, light));
  }

  &__available-columns-wrapper {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

  &__available-columns,
  &__selected-columns {
    @include offset-spacing(xs, s);

    flex: 1;
    height: 225px;
    overflow-y: scroll;
    padding-top: 8px;
    width: 284px;
  }

  &__available-columns {
    border-right: 1px solid brand-color(gray, light);
  }

  &__available-columns-search,
  &__selected-columns-header {
    border-bottom: 1px solid brand-color(gray, light);
    height: 48px;

    @include font-spacing(12px, 0, bold);
  }

  &__available-columns-search {
    border-right: 1px solid brand-color(gray, light);

    @include equal-spacing(s);

    .search-field {
      @include font-scale(s);

      width: 115px;
    }
  }

  &__selected-columns-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @include equal-spacing(m);

    .count {
      color: brand-color(gray, light);
      text-transform: uppercase;

      @include font-scale(s);
    }
  }

  &__footer {
    border-top: 1px solid brand-color(gray, light);
    flex: 100%;
    text-align: right;

    @include offset-spacing(s, m);

    .button-link {
      margin-right: spacing(m);
    }
  }
}

.column-line-item {
  border: 1px solid brand-color(gray, light);
  border-radius: 4px;
  color: brand-color(gray, light);
  cursor: pointer;
  display: flex;
  font-weight: bold;
  justify-content: space-between;
  overflow: hidden;
  text-align: left;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;

  @include stack(s);

  @include equal-spacing(s);

  @include font-scale(s);

  &.selected {
    cursor: not-allowed;
    opacity: 0.5;

    &:focus {
      outline: none;
    }
  }
}

.delete-column:before {
  content: url('img/delete.svg');
}

.add-column:before {
  content: url('img/add.svg');
}

@include breakpoint(s, max-width) {

  .column-manager {
    width: calc(100vw - 32px);
    right: 0;
    left: spacing(m);
    bottom: spacing(m);
    top: 210px;
    position: fixed;

    &:before { display: none; }
  }

  .column-manager__available-columns-wrapper,
  .column-manager__selected-columns-wrapper {
    height: 100%;
    max-height: calc(100vh - 290px);
    overflow-y: hidden;
    width: 50%;
  }

  .column-manager__available-columns,
  .column-manager__selected-columns {
    height: 100%;
    width: 100%;
    overflow-y: auto;
  }
}
