.flex-between {
  align-items: center;
  display: flex;
  justify-content: space-between;

  button {
    max-height: 3.5em;
  }
}

.merchant-columns {

  .pure-table__data {
    justify-content: flex-end;
  }
}
