.statements-filter {
  display: flex;
}

.export-container {
  margin-top: -2%;
  margin-left: 7%;
}

.error-msg {
  margin-left: 53%;
  margin-bottom: 2%;
  margin-top: 2%;
  border: thin solid #444;
  width: 46%;
}

.showingRecords {
  margin-left: 10%;
  position: relative;
}

.error-img-left {
  width: 2%;
  float: left;
}

.error-img-right {
  width: 98%;
  float: right;
  margin-right: -4%;
}

.success-img-left {
  width: 2%;
  float: left;
}

.success-img-right {
  width: 99%;
  float: right;
  margin-right: -6%;
}

.success-msg {
  margin-left: 67%;
  margin-bottom: 2%;
  margin-top: 2%;
  border: thin solid #444;
  width: 31%;
}

.select_menu_records {
  margin-top: -8%;
}

.header_wrapper {
  position: relative;
}

.title {
  float: left;
  margin-top: 1.7%;
}




// GD report runner scss start

.statement-report {
  display: flex;
  flex-direction: column;

  .select-menu__form .dropdown-menu-trigger {
    width: auto;
  }

  .flex-left,
  .flex-right {
    align-items: center;
    display: flex;
  }

  &__top-header {
    @include offset-spacing(none, l);

    align-items: center;
    background-color: brand-color(muted);
    border-bottom: 1px solid brand-color(gray, border);
    display: flex;
    height: 70px;
    justify-content: space-between;
    position: relative;

    .statement-report__actions {
      @include offset-spacing(none,l);
    }

    .filter-pane-trigger {
      font-weight: 700;
    }
  }

  &__actions {
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: relative;

    @include equal-spacing(l);
    padding-bottom: 0;

    .toggle-visualizations {
      align-items: center;
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-end;
      margin-left: spacing(l);
      cursor: pointer;

      span {
        color: brand-color(primary);
      }

      .eye-icon {
        margin-right: spacing(s);
      }

      &:hover {
        color: brand-color(primary);
      }
    }

    .button-link-inline .left-pointer-icon {
      margin-right: spacing(s);
    }
  }

  &__actions-save {
    position: relative;

    .button-link-inline {
      font-weight: 500;
    }
  }



}


// GD Report runner scss end
