.gd-hierarchy-selector-recent-search-list {
  width: 100%;
  background-color: brand-color(muted);

  &__item {
    height: 40px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    border-bottom: 1px solid brand-color(muted, dark-blue);
    font-weight: 500;
    color: brand-color(primary);
    font-size: 12px;

    &:hover {
      cursor: pointer;
      background-color: brand-color(muted, light-blue);
      transition: .2s all ease-in-out;
    }
  }

  &__item-icon {
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__footer {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: spacing(m);
    font-weight: 500;
    color: brand-color(primary);
    font-size: 12px;

    &:hover {
      cursor: pointer;
      background-color: brand-color(muted, light-blue);
      transition: .2s all ease-in-out;
    }
  }
}