.user-merchants-table {

  .pure-table__body {

    &.loading tr:not(.ball-sync-loader) {
      opacity: 0.1;
      pointer-events: none;
    }

    &:hover > tr {
      background-color: white;
      box-shadow: none;
      cursor: pointer;
      opacity: 1;
    }

    &:hover tr:hover {
      box-shadow: none;
      cursor: pointer;
      opacity: 1;
    }
  }
}

.pure-table__data {
  position: relative;
}

.footer-right {
  align-items: flex-end;

  @include font-scale(s);

  @include equal-spacing(m);
}

.clear-button {
  cursor: pointer;
}

.confirmation-modal {
  right: -20px;

  &:after {
    left: auto;
    right: 15px;
  }
}

@include breakpoint(m) {

  .pure-table__data {
    display: block;
    padding-bottom: 50px;
    position: static;
  }
}
