.pdfimage {
  width: 8%;
}

.exporticon {
  width: 26%;
  padding-left: 14%;
}

.statement-gd-table__container-root {
  overflow: auto;
}

.statement_gd-table__container {
  @include equal-spacing(m);

  background-color: brand-color(muted);
  border: 1px solid brand-color(gray, border);
  border-collapse: collapse;
  border-radius: spacing(xs);
  letter-spacing: 0;
  width: 100%;

  &-header {
    background-color: brand-color(primary, x-dark);
    color: brand-color(muted);
    user-select: none;
  }

  &-row {
    border: 1px solid brand-color(gray, border);
    cursor: pointer;
  }

  &-cell { 
    @include offset-spacing(xs, s);
    position: relative;
    text-align: left;
    white-space: nowrap;

    &.sort {
      @include sort-triangles(brand-color(muted));

      @include offset-spacing(s, l);

      cursor: pointer;
      padding-left: spacing(s);
    }

    &.sort-asc::after {
      border-top-color: brand-color(muted);
      opacity: 1;
    }

    &.sort-desc::before {
      border-bottom-color: brand-color(muted);
      opacity: 1;
    }
  }
}
