.gd-filter-elements-container {
  display: flex;
  flex-wrap: wrap;
}

.gd-filter-element {
  padding-left: spacing(s);
  padding-right: spacing(s);
  width: calc(100% / 3);

  .select-menu__form {
    align-items: stretch;

    @include stack(m);

    .dropdown-menu-trigger,
    .select-menu-options {
      width: 100%;
      color: brand-color(gray, x-dark);
      font-weight: 500;
      font-size: 12px;
    }
  }
}
