.search {

  position: relative;

  @include stack(s);

  &:after {
    content: url('img/search.svg');
    margin-right: 5px;
    position: relative;
    top: 5px;
  }

  &.focused {

    &:after {
      content: url('img/search-hover.svg');
    }
  }

  &.search-manager {
    padding-right: spacing(m);
    align-items: center;
    display: flex;
    height: 40px;
    margin-bottom: 0;
    width: 100%;
  }

  &.search-manager .search-field {
    font-weight: 500;
  }
}

.search-field {
  appearance: none;
  background: none;
  border: 0;
  color: brand-color(gray, x-dark);
  font-family: $body-font-family;
  padding-right: spacing(s);

  @include font-spacing($base-font-size, 0, normal);

  &:focus {
    outline: none;
  }

  &::placeholder {
    @extend %placeholder;

    text-align: left;
  }
}
