.autocomplete {
  background: #fff;
  max-width: 280px;

  > .search {
    @include offset-spacing(s, m);

    border-bottom: 1px solid brand-color(gray, xx-light);
    margin-bottom: 0;
  }

  .search-field {
    width: calc(100% - 25px);
  }

  &__title {
    background-color: brand-color(primary, x-dark);
    color: brand-color(muted, base);
    font-size: 14px;
    font-weight: 600;

    @include offset-spacing(s, m);
  }
}
