.filter-definition {
  @include stack(s);

  background-color: brand-color(muted);
  display: flex;
  flex-direction: column;

  .column-widget {
    margin-bottom: 0;
  }

  .filter-definition__panel {
    border-bottom: 1px solid brand-color(gray, x-light);
    border-left: 1px solid brand-color(gray, x-light);
    border-right: 1px solid brand-color(gray, x-light);
  }

  .filter-definition__settings {
    @include equal-spacing(m);
  }

  .filter-definition__footer {
    @include equal-spacing(m);

    border-top: 1px solid brand-color(gray, x-light);
    display: flex;
    justify-content: flex-end;

    .button {
      margin-left: spacing(s);
    }
  }
}
