.flex-between {
  align-items: center;
  display: flex;
  justify-content: space-between;

  .flex-left,
  .flex-right {
    align-items: center;
    display: flex;
    padding: 5px;
  }

  .flex-left {
    justify-content: flex-start;
  }

  .flex-right {
    justify-content: flex-end;
  }

  button {
    max-height: 3.5em;
  }
}
