.gd-detail-view {
  background-color: brand-color(muted);

  &__controls,
  &__header,
  &__hierarchy,
  &__subtitle,
  &__section {
    @include equal-spacing(m);
  }

  &__controls {
    border-bottom: 1px solid #d7dce1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &--left .button-toggled {
      @include inline(m);
    }

    &--right {
      display: flex;
    }

    &--right .button-toggled:first-child {
      margin-right: 8px;
    }

    &--right .button-toggled:nth-child(2) {
      @include inline(m);
    }

    &-title {
      color: #3a3d46;
      display: inline;
      font-weight: 600;
    }
  }

  &__header {
    background: linear-gradient(
        to left top,
        #007dd2 0%, /*bottom-right color*/
        #0062aa 50%, /*middle color*/
        #004890 100% /*top-left color*/
      ),
      linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 1))
        /*"faked" black background make sure to add last or it will appear before the transparent/colored layer*/;
    margin: spacing(m);

    h1 {
      color: white;
      font-size: 2em;
      margin: 0;
    }
  }

  &__hierarchy {
    border-top: 1px solid #d7dce1;
    margin: spacing(m) spacing(m) 0;
    padding-left: 0;
    padding-right: 0;
  }

  &__subtitle {
    @include font-scale(l);

    background-color: brand-color(muted, light-blue);
    border-bottom: 1px solid #d7dce1;
    border-top: 1px solid #d7dce1;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
  }

  &__item {
    flex: 0 1 calc(25% - 10px);
    margin: 5px;
    min-height: 75px;
  }

  &__item-title {
    color: #8a92a5;
    font-weight: 600;
  }

  &__item-data {
    display: block;
    word-break: break-all;
  }
}
