.report-type {

  .default-textarea {
    min-height: 120px;
    color: brand-color(gray, x-dark);
    font-weight: 500;
    font-size: 12px;
  }

  .field-group-vertical:last-of-type .field {
    margin-bottom: 0;
  }

  .dropdown-menu-trigger span {
    font-size: 12px;
    font-weight: 500;
    color: brand-color(gray, x-dark);
  }
}
