.vertical-nav-label {
  @include font-spacing(14px, 0, normal);
  align-items: center;
  color: brand-color(gray, light);
  display: inline-flex;
  flex-flow: row nowrap;
  font-weight: 500;
  justify-content: flex-start;
  line-height: 18px;
  opacity: 1;
  transition: opacity 300ms ease-in, color 300ms ease-in;

  &.collapsed {
    opacity: 0;
    transition: opacity 300ms ease-in;
    width: 0;
  }
}

.vertical-nav-action:hover > .vertical-nav-label,
.vertical-nav-action-active .vertical-nav-label,
.vertical-nav-action-secondary-active .vertical-nav-label {
  color: brand-color(gray, x-dark);
  transition: color 300ms ease-in;
}

.vertical-nav-action-secondary {

  .vertical-nav-label.animated {
    animation: slide-in-from-right 500ms ease-in 1 forwards;
  }
}
