.report-filters-drawer {

  .field-group-vertical .select-menu__form {
    padding-bottom: spacing(l);
  }

  .select-menu__form {

    .dropdown-menu-trigger {
      @include equal-spacing(m);
    }

    .dropdown-menu-trigger:after {
      top: 45%;
    }

    .select-menu-options {
      $spacing-large: spacing(l);
      top: calc(100% - #{$spacing-large});
    }
  }
}
