.gd-active-filters-dropdown {

  &__trigger {
    position: relative;

    strong {
      font-weight: 500;
      color: brand-color(gray, x-dark);
    }
  }

  &__content--has-filters,
  &__content--no-filters {
    border-bottom: 1px solid brand-color(muted, dark-blue);
    border-left: 1px solid brand-color(muted, dark-blue);
    border-right: 1px solid brand-color(muted, dark-blue);
  }

  &__item:not(:last-child) {
    border-bottom: 1px solid brand-color(muted, dark-blue);
  }

  &__item,
  &__header {
    @include offset-spacing(s, m);
  }

  &__header {
    @include font-scale(m);

    background-color: brand-color(primary, x-dark);
    color: brand-color(muted);
    margin: 0;
  }

  &__wrapper {
    width: 280px;
  }

  &__active,
  &__inactive {
    left: -(spacing(m));
    position: absolute;
    top: calc(100% - #{spacing(s)});
    z-index: 15;
  }

  &__content {
    background-color: brand-color(muted);
  }

  &__content--no-filters {
    @include offset-spacing(s, l);

    text-align: center;
  }

  &__content--has-filters {
    list-style-type: none;
    margin: 0;
    max-height: 300px;
    overflow: auto;
    padding: 0;
  }

  &__item {
    cursor: pointer;
    line-height: 14px;
    position: relative;
  }

  .column-name {
    color: #8a92a5;
    font-size: 9px;
    font-weight: 600;
    text-transform: uppercase;
  }

  .value {
    font-size: 12px;
  }

  .remove {
    display: inline-block;
    height: 15px;
    overflow: hidden;
    position: absolute;
    right: 10px;
    top: 15px;
    width: 15px;

    &:before,
    &:after {
      background-color: brand-color(alert, danger);
      content: '';
      height: 1px;
      left: 0;
      margin-top: -1px;
      position: absolute;
      top: 50%;
      width: 100%;
    }

    &:before {
      transform: rotate(45deg);
    }

    &:after {
      transform: rotate(-45deg);
    }
  }

  .question-mark {
    @include offset-spacing(xs, m);

    background-color: #dbdee4;
    border-radius: 50%;
    color: brand-color(muted);
    font-size: 30px;
    height: 50px;
    width: 50px;

    &:after {
      content: '?';
    }
  }

  .create-a-filter__title {
    color: brand-color(gray, x-dark);
    display: block;
    font-weight: 600;
  }

  .create-a-filter__content {
    color: #8a92a5;
  }
}
