.gd-hierarchy-selector-search-item {
  @include stack(s);

  @include offset-spacing(s, s);

  height: 36px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  border-top: 1px solid #d7dce1;
  font-weight: 500;
  font-size: 12px;
  color: brand-color(gray, light);
  padding-left: 0;
  margin-bottom: 0;

  &-cb {
    margin-left: spacing(m);
  }

  &-text {
    margin-left: spacing(s);
    font-size: 12px;

    &__bold {
      color: brand-color(primary, dark);
      font-weight: 500;
      line-height: 20px;
    }
  }

  &-text-left {
    width: 150px;
    display: inline-flex;
  }

  &-text-right {
    margin-left: spacing(s);
    display: inline-flex;
  }

  &:hover {
    cursor: pointer;
    background-color: brand-color(muted, light-blue);
    transition: .2s all ease-in-out;
  }
}