.ball-sync-loader {

  .loader {
    position: relative;
  }

  .ball-pulse-sync {
    @include ball-pulse-sync();
    animation: fade-in 3s infinite 1s;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(650%) translateX(-50%);

    > div {
      animation-fill-mode: both;
      display: inline-block;
    }
  }

  .dot {
    background-color: $teal;
    border-radius: 50%;
    display: inline-block;
    height: 5px;
    margin: 2px;
    width: 5px;
  }
}
