.confirmation-modal {
  background-color: brand-color(muted);
  border: 1px solid brand-color(alert, danger);
  letter-spacing: 0.4px;
  line-height: 1.2;
  position: absolute;
  right: 0;
  width: 215px;
  z-index: 10;

  &-wrapper {
    display: inline;
    position: relative;

    .button-link-inline {
      color: inherit;
      display: inline;
      font-family: inherit;
      font-size: inherit;
      font-weight: inherit;
      letter-spacing: inherit;
      text-align: inherit;
    }
  }

  &.modal-down {
    top: 36px;
    right: 0;
  }

  &-wrapper.active {

    .button-primary {
      background-color: brand-color(alert, danger);

      &:hover:not(:disabled),
      &:focus:not(:disabled) {
        background-color: darken(brand-color(alert, danger), 15%);
      }

      &:active:not(:disabled) {
        background-color: darken(brand-color(alert, danger), 10%);
      }
    }
  }

  .headline,
  .content {
    color: brand-color(gray);
    display: flex;
    font-size: 12px;
    font-weight: 400;
    justify-content: flex-start;
  }

  .headline {
    align-items: center;
    background-color: brand-color(alert, danger);
    color: brand-color(muted);
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
    height: 30px;
    margin: 0;
    letter-spacing: 1px;
    text-transform: capitalize;
    width: 100%;

    @include offset-spacing(s, m);
  }

  .headline-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .content {
    display: block;
    line-height: 18px;
    align-items: flex-start;

    @include equal-spacing(m);
  }

  .button-wrapper {
    align-items: center;
    border-top: 1px solid brand-color(muted, dark-blue);
    background-color: brand-color(muted, light-blue);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;

    @include equal-spacing(m);
  }

  .button {
    width: 100%;
  }

  .button.delete {
    background-color: brand-color(alert, danger);
  }

  .button-link {
    background-color: white;
    border: 1px solid brand-color(muted, dark-blue);
    color: brand-color(gray, x-dark);
    margin-right: spacing(s);
  }

  .button-primary {
    background-color: brand-color(alert, danger);

    &:hover:not(:disabled),
    &:focus:not(:disabled) {
      background-color: darken(brand-color(alert, danger), 25%);
    }

    &:active:not(:disabled) {
      background-color: darken(brand-color(alert, danger), 10%);
    }
  }
}
