.confirmation-modal {
  background-color: brand-color(gray, x-dark);
  border-radius: 4px;
  letter-spacing: 0.4px;
  line-height: 1.2;
  opacity: 0.9;
  position: absolute;
  top: -140px;
  width: 225px;
  z-index: 10;

  &:after {
    background-color: inherit;
    bottom: -3px;
    content: '';
    height: 11px;
    left: 20px;
    opacity: 0.9;
    position: absolute;
    transform: rotate(-45deg);
    width: 15px;
    z-index: -1;
  }

  &-wrapper {
    display: inline;
    position: relative;

    .button-link-inline {
      color: inherit;
      display: inline;
      font-family: inherit;
      font-size: inherit;
      font-weight: inherit;
      letter-spacing: inherit;
      text-align: inherit;
    }
  }

  &.modal-down {
    top: 48px;
  }

  &::after {
    bottom: auto;
    right: 35px !important;
    top: -4px;
    transform: rotate(45deg);
  }

  &-wrapper.active {

    .button-primary {
      background-color: brand-color(alert, danger);

      &:hover:not(:disabled),
      &:focus:not(:disabled) {
        background-color: darken(brand-color(alert, danger), 15%);
      }

      &:active:not(:disabled) {
        background-color: darken(brand-color(alert, danger), 10%);
      }
    }
  }

  .headline,
  .content {
    color: white;
    font-size: .75rem;
    font-weight: bold;

    @include offset-spacing(s, m);
  }


  .headline {
    display: inline-block;
    margin: 0;
    text-transform: uppercase;
  }

  .headline-wrapper {
    border-bottom: 1px solid white;
    display: flex;
    justify-content: space-between;
  }

  .content {
    display: block;
    padding-bottom: spacing(xs);
  }

  .button {
    margin: spacing(s);
  }

  .button-link {
    background-color: white;
  }

  .button-primary {
    background-color: brand-color(alert, danger);

    &:hover:not(:disabled),
    &:focus:not(:disabled) {
      background-color: darken(brand-color(alert, danger), 25%);
    }

    &:active:not(:disabled) {
      background-color: darken(brand-color(alert, danger), 10%);
    }
  }
}
