.select-menu {
  @extend %dropdown-menu;

  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;

  label {
    font-size: 12px;
    font-weight: 500;
    color: brand-color(gray);
    text-transform: uppercase;

    @include stack(s);
  }

  .dropdown-menu-trigger {
    max-height: 40px;
    height: 40px;
    line-height: 40px;
    padding: 0 spacing(xl) 0 spacing(m);
  }
}

.select-menu.select-menu__form.field-input {
  border: 0;
  height: auto;
  line-height: 1;
  padding: 0;
}

.select-menu.field-input .select-menu-options {
  width: 100%;

  .select-menu-option {
    @include equal-spacing(m);
  }
}

.select-menu.field-input .dropdown-menu-trigger {
  width: 100%;
}

.select-menu.field-input .dropdown-menu-trigger.is-disabled {
  cursor: not-allowed;
}

.select-menu-options-wrapper.is-separator {
  margin-top: spacing(s);
  border-top: 1px solid brand-color(muted, dark-blue);
  padding-top: spacing(s);
}

.select-menu-option {
  @include offset-spacing(s, m);
  border-bottom: 1px solid #eee;
  color: brand-color(gray, light);
  cursor: pointer;

  span {
    color: brand-color(gray, light);
    letter-spacing: 0.4px;

    strong {
      color: brand-color(gray, x-dark);
    }
  }

  &:hover,
  &:focus {
    background-color: brand-color(gray, x-light);
    outline: none;

    span,
    strong {
      color: brand-color(gray, x-dark);
    }
  }

  &.is-selected {
    cursor: default;
  }

  &.is-important span {
    color: brand-color(alert, danger) !important;
  }
}

.fixed-width {
  width: 215px;
}

.select-menu__form {
  @import './SelectInputForm';
}

.select-menu__table {
  @import './SelectInputTable';
}

.select-menu__form .dropdown-menu-trigger:after,
.select-mneu__table .dropdown-menu-trigger:after {
  right: 12px;
}

.select-menu__input {
  font-weight: bold;

  @include font-scale(s);

  @import './SelectInputForInputs';
}
