.data-toggle {

  &-wrapper {
    @include offset-spacing(l, s);
  }

  &-header {
    color: brand-color(gray, dark);
    cursor: pointer;
    font-weight: bold;

    @include font-scale(l);
  }

  &-header:not(.closed) {
    @include arrow(0, brand-color(gray, light));

    @include upArrow();
  }

  &-header.closed {
    @include arrow(0, brand-color(gray, light));
  }

  &-header-wrapper:focus {
    outline: none;
  }

  &-children {
    display: flex;
    flex-wrap: wrap;
  }

  &-child {
    flex: 0 1 calc(25% - 10px);
    margin: 5px;
    min-height: 75px;
  }
}

.data-key,
.data-value {
  font-weight: bold;
}

.data-key {
  color: brand-color(gray, light);
}

.data-value {
  color: brand-color(gray, dark);
}

.data-key-disabled,
.data-text-disabled {
  opacity: 0.5;
}

.detail-items-enter {
  opacity: 0.01;
}

.detail-items-enter.detail-items-enter-active {
  opacity: 1;
  transition: all 250ms ease-in;
}

.detail-items-leave {
  opacity: 1;
}

.detail-items-leave.detail-items-leave-active {
  opacity: 0.01;
  transition: all 250ms ease-in;
}

@include breakpoint(s, max-width) {

  .data-toggle-children .data-toggle-child {
    flex: 0 1 calc(50% - 10px);
  }
}

@include breakpoint(xs, max-width) {

  .data-toggle-wrapper {
    @include equal-spacing(m);
  }

  .data-toggle-children .data-toggle-child {
    flex: 0 1 calc(100% - 10px);
    min-height: 60px;

    .data-key,
    .data-text {
      margin: spacing(s) 0;
    }
  }
}
