// State
// options: default, success, warning, danger\

@mixin field-state($state) {
  @if $state = 'default' {
    border-color: brand-color(gray, x-light);

    &:hover,
    &:focus {
      border-color: brand-color(primary, base);
    }

  } @else {
    border-color: brand-color(alert, $state);
  }
}
