.gd-new-filter-dropdown {
  background-color: brand-color(muted);
  position: absolute;
  right: 0;
  text-align: left;
  top: spacing(xl);
  width: 300px;
  z-index: 15;

  &__header,
  &__content,
  &__footer {
    @include offset-spacing(s, m);
  }

  &__content,
  &__footer {
    border-bottom: 1px solid brand-color(muted, dark-blue);
    border-left: 1px solid brand-color(muted, dark-blue);
    border-right: 1px solid brand-color(muted, dark-blue);
  }

  &__header {
    @include font-scale(m);

    background-color: brand-color(primary, x-dark);
    color: brand-color(muted);
    margin: 0;
  }

  &__content {
    padding-top: spacing(m);
  }

  &__footer {
    background-color: brand-color(muted, light-blue);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}
