.editable-input {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;

  &__label {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: brand-color(gray, x-dark);

    @include stack(xs);
  }

  &__content {
    border: 0;
    font-size: 20px;
    line-height: 24px;
    font-weight: 500;
    width: auto;
    background-color: transparent;
    border-bottom: 1px dotted brand-color(primary);
    margin-right: spacing(s);

    &:focus {
      outline: none;
    }

    &:focus::placeholder {
      @extend %placeholder;
    }

    &::placeholder {
      @extend %placeholder;
    }

    &:hover {
      background-color: #fff;
      color: brand-color(primary, x-dark);
      cursor: pointer;
    }
  }
}
