.dashboard-header {
  display: none;
  flex-direction: row;
  position: relative;

  @include stack(l);
}

.dashboard-extended-border {
  border-bottom: 2px solid rgba(154, 159, 174, 0.15);
  display: block;
  width: calc(100% - 475px);
}

.currency-toggler {
  border-bottom: 2px solid rgba(154, 159, 174, 0.15);
  cursor: pointer;
  display: inline-block;
  color: brand-color(gray, light);
  margin: 0;
  position: relative;
  text-transform: uppercase;
  user-select: none;

  &:focus {
    outline: none;
  }

  @include font-spacing(11px, 0.4px, normal);
}

.selected-currency {

  &:before {
    content: ' ';
  }

  &:after {
    border-color: brand-color(gray, light) transparent transparent;
    border-style: solid;
    border-width: 5px 4px;
    content: '';
    display: inline-block;
    margin-left: 5px;
    position: absolute;
    top: 9px;
  }

  @include font-spacing(12px, 0.4px, bold);
}

.currency-selector.autocomplete {
  border: 1px solid brand-color(gray, x-light);
  cursor: pointer;
  width: 235px;
}

.currency-selector .selection-list {
  max-height: 150px;
  overflow: scroll;
}

.currency-selector .selection-list-item-left {
  flex-direction: row;
  flex-grow: 2;
}

.currency-selector .selection-list-item-right {
  display: none;
}

.currency-selector .selection-list-item {
  @include font-scale(s);

  @include equal-spacing(m);
}

.iframe-container.dashboard-iframe-container {
  height: calc(100vh - 280px);
  width: 100%;
}

@include breakpoint(s, max-width) {

  .dashboard-header {
    display: flex;
    flex-flow: column nowrap;

    @include stack(m);
  }

  .dashboard-extended-border {
    display: none;
  }

  .dashboard-header .selection-bar {
    display: flex;
    width: 100%;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid rgba(154, 159, 174, 0.15);

    @include stack(m);

    .tab { border-bottom: 0; }
  }

  .dashboard-header .currency-toggler {
    border-bottom: 0;
    align-self: flex-end;
    margin-right: spacing(m);
  }

  .currency-selector.autocomplete {
    position: absolute;
    right: -12px;
    top: 60px;
  }
}

.upgrade-to-pro-wrapper {
  align-items: center;
  display: flex;
  height: 50vh;
  justify-content: center;
}

.upgrade-to-pro {
  font-weight: bold;
  max-width: calc(100% - 50px);
  text-align: center;

  @include font-scale(l);
}

.clickable {
  cursor: pointer;
  text-decoration: underline;
}
