.data-access-table {

  .data-access-header-row {

    .data-access-header {
      text-align: center;
    }
  }

  .data-access-row {

    .data-access-cell {
      color: brand-color(gray);
      border-right: 1px solid brand-color(gray, xx-light);
      text-align: center;
    }

    .end-of-chain {
      color: brand-color(gray, xx-dark);
      font-weight: bold;
    }

    .data-access-cell:last-child {
      border-right: 0;
    }

    .data-access-actions {
      align-items: center;
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-start;
    }

    .button {
      white-space: nowrap;
    }

    .button:first-child {
      margin-right: spacing(m);
    }
  }
}

.data-access-table-container {
  overflow-x: scroll;
}

@include breakpoint(m, max-width) {

  .data-access-table {
    table-layout: auto;
  }

  .data-access-table .data-access-header-row .data-access-header,
  .data-access-table .data-access-row .data-access-cell {
    min-width: 80px;
    width: 100%;
  }

  .table-data-access .flex-right .hidden-xs {
    display: inline-block;
  }
}

@include breakpoint(xs, max-width) {

  .table-data-access .flex-between {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .table-data-access .flex-between .flex-left,
  .table-data-access .flex-between .flex-right {
    padding: 0;
  }

  .table-data-access .flex-between .flex-left {
    @include stack(m);
  }

  .table-data-access .flex-left,
  .table-data-access .flex-right {
    padding: 0;
    width: 100%;

    .button {
      width: 100%;
    }
  }
}
