.gd-hierarchy-selector__action-bar {
  @include offset-spacing(none, s);

  align-items: center;
  border-top: 1px solid brand-color(gray, x-light);
  display: flex;
  font-weight: 500;
  color: brand-color(gray, x-dark);
  justify-content: space-between;
  min-height: 45px;
  font-size: 14px;

  .button-link-inline {
    @include offset-spacing(none, s);

    @include font-scale(s);
  }

  #_columnManager_btn_Clear_All,
  #_columnManager_btn_Remove_All {
    padding-left: 0;
  }

  #_columnManager_btn_Hide_All {
    padding-right: 0;
  }
}
