.ProductAddons {

  &-header {
    @include equal-spacing(l);

    border-bottom: 1px solid brand-color(gray, x-light);

    &__title {
      @include font-scale(m);

      @include stack(m);
      text-transform: uppercase;
      font-weight: bold;

      &:after {
        width: 24px;
        content: '';
        height: spacing(m);
        display: block;
        position: relative;
        top: 0;
        border-bottom: 1px solid brand-color(gray, x-light);
      }
    }

    &__description {
      font-size: 12px;
      line-height: 18px;
    }
  }

  &-service {
    @include offset-spacing(s, l);

    align-items: center;
    border-bottom: 1px solid brand-color(gray, x-light);
    display: flex;
    flex-flow: row wrap;
    font-size: 12px;
    justify-content: space-between;

    &__name .information-bubble__wrapper {
      margin-left: spacing(s);
    }

    &__toggle {
      display: flex;
      flex-flow: row nowrap;
      justify-content: flex-end;
      align-items: center;
    }

    &__price {
      margin-right: spacing(s);
    }

    &__name.on,
    &__price.on {
      color: brand-color(primary, base);
    }
  }

  &__overrideprice {
    align-items: flex-end;
    color: brand-color(gray, base);
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;

    &-details {
      color: brand-color(gray, light);
      font-size: 12px;
    }

    &-num {
      color: brand-color(gray, x-dark);
      font-size: 24px;
    }

    &-num:before {
      color: brand-color(gray, base);
      content: '$';
      vertical-align: 40%;
      font-size: 14px;
    }

    &-num .price-input {
      border: 0;
      border-bottom: 1px dotted brand-color(gray, light);
      color: brand-color(gray, dark);
      cursor: text;
      font-family: $body-font-family;
      font-size: 24px;
      line-height: 30px;
      margin-right: spacing(s);
      text-align: right;
      width: 38px;

      @include stack(xs);
    }

    &-num .price-input:active,
    &-num .price-input:focus,
    &-num .price-input:hover {
      outline: none;
    }

    &-num .price-input:focus,
    &-num .price-input:hover {
      color: brand-color(primary, base);
      border-bottom: 1px solid brand-color(primary, base);
      transition: background-color .3s ease-in-out;
    }

    &-num .price-input::-webkit-inner-spin-button,
    &-num .price-input::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }
}
