.pure-table { // table
  background-color: brand-color(muted);
  border: 1px solid brand-color(gray, border);
  border-collapse: collapse;
  border-radius: spacing(xs);
  letter-spacing: 0;
  width: 100%;

  .global-selector-group {
    color: white;
    background-color: brand-color(gray, light);
    height: 1em;
    letter-spacing: 1px;
    text-transform: uppercase;

    @include font-scale(s);
  }

  &__headline { // Headline describing table content
    color: brand-color(gray, x-dark);
    font-weight: lighter;
    margin-right: 10px;
  }

  &__header { // Table header
    background-color: brand-color(primary, x-dark);
    color: brand-color(muted);
    text-align: left;
    text-transform: uppercase;

    th {
      white-space: nowrap;

      @include equal-spacing(s);
      text-transform: capitalize;

      &.sort { // stylelint-disable
        @include sort-triangles(brand-color(gray, light));

        padding-right: spacing(l);
        position: relative;
      }

      &.sort-asc::after {
        border-top-color: $white;
      }

      &.sort-desc::before {
        border-bottom-color: $white;
      }

      .sort-container .sort-order {
        display: none;
      }
    }
  }

  &__body {
    border: 1px solid brand-color(gray, border);
    height: 350px;
    overflow: scroll;

    .fixed-width {
      width: 175px;
    }

    tr { // table rows only within the body
      border: 1px solid brand-color(gray, border);
      color: brand-color(gray, x-dark);
      text-transform: none;

      td {
        background-color: white;

        @include equal-spacing(s);
      }
    }

    svg path,
    svg g{
      fill: brand-color(primary);
    }
  }

  &__footer {
    @include offset-spacing(xs, s);

    align-items: center;
    background: white;
    border-width: 0.5px;
    border-style: solid;
    border-color: brand-color(gray, border);
    border-top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .row {
    background-color: brand-color(muted, base);
    cursor: default;
    letter-spacing: 0.4px;

    &.has-permissions {
      cursor: pointer;
    }
  }

  .row-plain {

    border: 0;
    height: 1em;

    td {
      @include font-scale(s);
      font-weight: bold;
      text-align: left;
    }
  }

  .message-row,
  .row {
    height: 4.5em;
    cursor: pointer;
  }

  tr:nth-child(2) {
    border: 0;
  }
}

.merchant-columns .pure-table__header th:first-child,
.merchant-columns .pure-table__body td:first-child {
  max-width: 150px;
}

@include breakpoint(m, max-width) {

  .merchant-columns .pure-table__header th:nth-child(2),
  .merchant-columns .pure-table__body td:nth-child(2) {
    min-width: 170px;
  }

  .user-columns .pure-table__body td:nth-child(1) {
    text-transform: capitalize;
  }

  .merchant-columns .pure-table__header th:last-child,
  .merchant-columns .pure-table__body td:last-child,
  .user-columns .pure-table__header th:nth-child(2),
  .user-columns .pure-table__body td:nth-child(2),
  .user-columns .pure-table__header th:nth-child(3),
  .user-columns .pure-table__body td:nth-child(3),
  .user-columns .pure-table__header th:nth-child(5),
  .user-columns .pure-table__body td:nth-child(5),
  .user-merchants-table .pure-table__header th:nth-child(4),
  .user-merchants-table .pure-table__body td:nth-child(4) {
    display: none;
  }

  .user-merchants-table .checkbox-field,
  .user-merchants-table .pure-table__header th:nth-child(2),
  .user-merchants-table .pure-table__body td:nth-child(2) {
    padding: 0;
  }
}

@include breakpoint(s, max-width) {

  .merchant-columns .pure-table__header th:nth-child(3),
  .merchant-columns .pure-table__body td:nth-child(3),
  .user-columns .pure-table__header th:nth-child(2),
  .user-columns .pure-table__body td:nth-child(2) {
    display: none;
  }
}
