.currency-range {
  justify-content: flex-start;

  .attached-btn {
    background-color: brand-color(muted, base);
    border: 1px solid brand-color(gray, x-light);
    border-left: none;
    color: brand-color(gray);
    font-weight: 400;
    height: 40px;

    @include font-scale(s);
  }

  .dropdown-menu-trigger {
    align-items: center;
    border: 0;
    display: flex;
    flex-flow: row nowrap;
    height: 100%;
    justify-content: center;
    padding-right: spacing(m);

    span {
      color: brand-color(gray, x-dark);
      font-weight: 500;
    }

    &:hover,
    &:hover:not(:disabled) {
      border: 0;
      background-color: brand-color(primary, dark);

      span {
        color: brand-color(muted, base);
      }
    }

    &:after {
      margin-left: 5px;
      position: relative;
      top: 2px;
    }

    &:focus:not(:disabled) {
      border: 0;
      top: 0;
    }

    &:focus:after {
      top: 0;
    }
  }

  .option-box-content {
    right: 0;
    top: 70px;
    width: 220px;

    /* stylelint-disable */
    .currency-selector .search,
    .currency-selector .selection-list {
      border-left: 1px solid brand-color(gray, x-light);
      border-right: 1px solid brand-color(gray, x-light);
    }

    .currency-selector .selection-list {
      border-bottom: 1px solid brand-color(gray, x-light);
    }

    .selection-list-item:hover {
      background-color: brand-color(muted, light-blue);
      cursor: pointer;
      transition: .2s background-color ease-in-out;

      .selection-list-item-main {
        color: brand-color(primary);
      }
    }
    /* stylelint-enable */
  }
}

.range-pair .range-field {
  min-width: 65px;
}
