.global-selector {
  display: flex;
  flex-flow: column wrap;

  &-filter-row {
    @include stack(s);

    align-items: center;
    display: flex;
    justify-content: flex-start;

    .org-selector-widget {
      flex: 1 1 auto;
      margin-right: 1em;
    }

    .org-selector-widget:last-child {
      margin-right: 0;
    }
  }

  .global-selector-widgets {
    @include equal-spacing(m);
    display: flex;
    flex-flow: row wrap;
  }

  @include breakpoint(l, max-width) {

    .org-selector-widget .button {
      min-width: 100px;
    }
  }
}

.selectors-with-badges {
  align-items: center;
  display: flex;
}

.selector-badges {
  display: flex;
  margin-left: spacing(s);

  .badge-org {
    @include equal-spacing(xxs);

    @include inline(s);

    background-color: white;
    color: brand-color(gray, light);
    min-width: 5em;
  }
}

.top-bottom-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(100vh - 96px);
}

.bottom-content {
  background-color: #fff;
}

@include breakpoint(l) {

  .global-selector-accordion-header {
    display: none;
  }

  .global-selector-container .global-selector-widgets {
    flex-flow: row nowrap;
    padding: 0;

    width: calc(100% - 85px);

    &.show-l {
      display: none;
    }
  }
}

@include breakpoint(l, max-width) {

  .global-selector-container {

    .padded {
      margin-bottom: 0;
    }

    h1 {
      margin-bottom: 0;
    }

    .button-link {
      padding: 0;
      margin: 0;
    }
  }

  .global-selector-container .global-selector-accordion {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: stretch;
    background-color: white;
  }

  .global-selector-accordion-header {
    @include equal-spacing(m);

    align-items: center;
    border-bottom: 1px solid brand-color(gray, x-light);
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    outline: none;

    &:active {
      background-color: brand-color(primary, base);
      transition: background-color .4s ease-in-out;
    }

    &:hover {
      border-bottom-color: brand-color(primary, base);
      transition: border-bottom-color .4s ease-in-out;
      cursor: pointer;
    }
  }

  .global-selector-container .global-selector-string {
    color: brand-color(gray, base);
  }

  .global-selector-container .global-selector-widgets {
    @include equal-spacing(m);
    display: flex;
    flex-flow: row wrap;

    &.hidden-l {
      display: none;
    }
  }

  .global-selector-container .button .icon {
    padding: 0;
    margin-right: spacing(m);
  }

  .global-selector-container .delete-access .button {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
  }
}

@include breakpoint(m, max-width) {

  .global-selector-container .data-access-filter-chain-horizontal,
  .global-selector-container .global-selector-widgets {
    flex-wrap: wrap;
  }

  .global-selector-container .org-selector-widget {
    flex-basis: 33%;
    flex-grow: 1;
    margin-right: 0;

    @include stack(m);

    .button {
      margin-right: 5px;
    }
  }
}

@include breakpoint-scale(l, xl) {

  .global-selector-container .org-selector-widget > .button {
    min-width: 100px;
  }
}

@include breakpoint(s, max-width) {

  .top-bottom-content {
    min-height: calc(100vh - 112px);
  }

  .global-selector-container .org-selector-widget {
    flex-basis: 50%;
  }

  .global-selector-container .org-selector-widget:nth-child(odd) {

    .button {
      margin-right: 5px;
    }
  }

  .global-selector-container .org-selector-widget:nth-child(even) {

    .button {
      margin-right: 0;
    }
  }

  .global-selector-container .padded {
    padding-top: 0;
  }
}

@include breakpoint(xs, max-width) {

  .global-selector-container {

    .data-access-filter-chain-horizontal {
      background-color: white;
    }

    .org-selector-widget {
      flex-basis: 100%;
    }

    .org-selector-widget:nth-child(odd) {

      .button {
        margin-right: 0;
      }
    }

    .delete-access {
      width: auto;

      .icon {
        margin-right: 0;
      }
    }

    .delete-access .button {
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      align-items: center;
    }

    .padded-tall {
      @include equal-spacing(m);
    }

    .bottom-content .left-right-content {
      flex-flow: column nowrap;
      align-items: stretch;
    }

    .bottom-content .left-content {
      @include stack(m);

      @include equal-spacing(s);
      text-align: center;
    }

    .bottom-content .button-group-horizontal {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
    }

    .bottom-content .button {
      flex: 1;
    }
  }

  .global-selector-addmore {

    .button-hollow span {
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
      align-items: center;
    }

    .plus-icon {
      font-size: 28px;
      line-height: 16px;
      height: 16px;
      font-weight: 300;
      display: flex;
      align-self: center;
      align-items: center;
    }
  }
}
