.date-picker-input {
  align-self: baseline;
  display: flex;
  width: 100%;

  > div {
    width: 100%;
  }

  .field-input {
    background: url('img/select-date-icon.svg') no-repeat right 12px center #fff;
  }
}

.field-input.date-start,
.field-input.date-end {
  min-width: 100%;
}
