.gd-hierarchy-selector-favorite-list {

  &__item {
    background-color: brand-color(muted);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
    height: 40px;
    font-size: 12px;

    &:hover {
      cursor: pointer;
      background-color: brand-color(muted, light-blue);
      transition: .2s all ease-in-out;
    }
  }

  &__item-left {
    color: brand-color(primary);
  }

  &__item-right {
    font-weight: 400;
    color: brand-color(gray);
    display: flex;
    align-items: center;
  }

  &__item-right .remove-icon {
    color: brand-color(alert, danger);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
  }

  &__item-right .close-icon {
    height: 12px;
    width: 12px;
  }

  &__item:not(:last-child) {
    border-bottom: 1px solid brand-color(muted, dark-blue);
  }
}

.gd-hierarchy-selector-favorite {

  &__unsaved-selections {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $gold-light;
    border-bottom: 1px solid brand-color(muted, dark-blue);
    font-weight: 500;
    padding: 0 12px;
    color: brand-color(gray, x-dark);
    font-size: 12px;

    .button {
      padding: 0;
      font-weight: 500;
      color: brand-color(primary);
      font-size: 12px;
    }

    .separator {
      margin: 0 spacing(s);
      color: brand-color(gray);
    }
  }

  &__unsaved-selections .left-section,
  &__unsaved-selections .right-section {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-start;

    .star-icon {
      color: $gold;
      margin-right: spacing(s);
    }
  }

  &__empty_saved_selections {
    height: 240px;
    width: 500px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

    @include offset-spacing(none, l);

    padding-bottom: spacing(l);
  }

  &__empty_saved_selections .large-gray-icon {
    background-color: brand-color(muted, dark-blue);
    width: 75px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: spacing(l);

    .star-icon {
      width: 35px;
      height: 35px;
      color: brand-color(muted);
    }
  }

  &__empty-description-heading {
    font-weight: 500;
    line-height: 24px;
    color: brand-color(gray, x-dark);
    text-align: center;
    font-size: 14px;

    @include stack(m);
  }

  &__empty-description {
    width: 90%;
    text-align: center;
    font-weight: 400;
    line-height: 20px;
    color: brand-color(gray);
    font-size: 14px;
  }
}
