.message-detail-drawer {

  .button {
    margin: spacing(s);
    vertical-align: top;
  }

  .drawer-data {
    color: brand-color(gray, dark);

    @include font-scale(m);

    @include equal-spacing(l);

    .message-content {
      margin-top: 0;

      @include stack(l);
    }
  }

  .drawer-data a {
    color: brand-color(gray, dark);
  }

  .icon-only {
    background-color: transparent;
    border: 1px solid white;
    color: white;

    &:hover:not(:disabled),
    &:focus:not(:disabled) {
      background-color: brand-color(muted, base);
      color: white;
    }

    &:hover:not(:disabled) {

      .fill {
        fill: brand-color(primary, base);
      }
    }

    &:focus:not(:disabled) {

      .fill {
        fill: white;
      }
    }
  }

  .button-print {
    background-color: brand-color(primary, base);

    &:hover:not(:disabled),
    &:focus:not(:disabled) {
      background-color: brand-color(primary, base);
      color: white;
    }
  }

  .confirmation-modal {
    right: 0;
    top: -120px;

    &:after {
      left: auto;
      right: 25px;
    }
  }
}

@include breakpoint(xs, max-width) {

  .message-detail-drawer-hero-buttons {
    width: 100%;
    display: flex;

    .button { margin-left: 0; }
  }

  .message-detail-drawer .drawer-data {
    @include equal-spacing(m);
  }

  .attachment-downloader {
    width: 100%;

    &__content {
      width: 100%;
    }

    .emphasis-filename {
      width: 100%;
      margin: 0;
    }
  }
}
